.myCustomBackground {
    background-color: #d3e0f0; /* ;Kight Blue Color */
}

.customBox {
    /* border: 1px solid #cccccc; */
    padding: 10px;
    /* border-radius: 4px; */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}